AppBar {
  background-color: white;
}
.button {
  margin: auto;
}
Button a:hover {
  color: white;
  text-decoration: none;
}
.main {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
nav {
  padding: 20px;
  border-bottom: 1px solid lightgray;
  width: 100%;
}
.floating-main {
  display: flex;
  margin: auto;
}
.floating-section {
  margin: auto;
  padding-top: 20px;
}
